{
  "*.{js,md}": "prettier --write",
  "*.src/**/*": "prettier --write",
  "*.{js,ts,tsx}": "eslint --cache --fix",
  "*.{css}": "npx stylelint --fix \"**/*.css\"",
  "package.json": "prettier-package-json --write"
}
