{
  "*.{js,md}": "prettier --write",
  "*.src/**/*": "prettier --write",
  "*.{css}": "stylelint --syntax=css",
  "*.{js,ts,tsx}": "eslint --cache --fix",
  "package.json": "prettier-package-json --write"
}
