* {
  position: relative;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Raleway', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f5f7;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box {
  cursor: pointer;
  position: absolute;
  border-radius: 0.5rem;
  background-color: #de6449;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px));
}

#box:hover {
  border: 5px solid black;
}

#box[data-state=dragging] {
  opacity: 0.8;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

#box[data-state=idle] {
  transition: all 0.3s ease-in-out;
}
