* {
  position: relative;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Raleway', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f5f7;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  padding: 2rem;
  white-space: nowrap;
  pointer-events: none;
}

h1,
h3 {
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 100;
  padding-bottom: 2rem;
}

.details {
  opacity: 0.8;
  color: white;
  display: flex;
  padding: 0.5rem;
  min-width: 300px;
  background: black;
  width: fit-content;
  border-radius: 0.5rem;
  flex-direction: column;
}

label {
  padding: 0.1rem;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box {
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
  background-color: #de6449;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px));
}

#box::before {
  height: 0;
  opacity: 0;
  content: '';
  width: 200%;
  position: absolute;
  border: 1px dashed red;
  transition: opacity 0.3s ease;
}

#box[data-state^=dragging] {
  opacity: 0.8;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

#box[data-state~="dragging.locked"]::before {
  opacity: 1;
}

#box[data-state=idle] {
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
